	<footer id="footer">
		<div class="wrapper">
			<div class="footer-item">
				<img class="footer-img" src="../img/truck.jpg" alt="">
			</div>
			<div class="footer-item">
				<h4>Наши услуги</h4>
				<ul>
					<li><a href="#">Таможенно –брокерские услуги</a></li>
					<li><a href="#">Консультации по вопросам ВЭД </a></li>
					<li><a href="#">Экспедиция море, земля</a></li>
					<li><a href="#">Услуги ТЛС, в частности складские</a></li>
					<li><a href="#">Аутсорсинг бухучета</a></li>
					<li><a href="#">юр. Консультации</a></li>
				</ul>
			</div>
			<div class="footer-item">
				<img src="../img/map.png" alt="">
				<p class="copy">&copy;2016 «ВР-Group» </p>
				<p class="development-support">Разработка и поддержка сайта – <a href="#">OneHub.com.ua</a></p>
			</div>
		</div>
	</footer>
</div>
</body>
</html>