	<footer id="footer">
		<div class="wrapper">
			<div class="footer-item">
				<img src="../img/footer-img.jpg" alt="">
			</div>
			<div class="footer-item">
				<h4>Наши услуги</h4>
				<ul>
					<li><a href="#">Таможенно –брокерские услуги</a></li>
					<li><a href="#">Консультации по вопросам ВЭД </a></li>
					<li><a href="#">Экспедиция море, земля</a></li>
					<li><a href="#">Услуги ТЛС, в частности складские</a></li>
					<li><a href="#">Аутсорсинг бухучета</a></li>
					<li><a href="#">юр. Консультации</a></li>
				</ul>
			</div>
			<div class="footer-item">
				<p class="footer-item-text">Подписавшись на нашу рассылку, вы будете получать самую свежую информацию о текущих акциях и выгодных предложениях.</p>
				<form action="#" class="footer-form">
					<input type="email" placeholder="Электронная почта">
					<input type="submit" value="Подписаться">
				</form>
				<p class="development-support">Разработка и поддержка сайта – <a href="#">OneHub.com.ua</a></p>
			</div>
		</div>
	</footer>
</div>
</body>
</html>