<header id="header">
	<div class="heade-img-container">
		<img src="../img/header-img.jpg" alt="">
	</div>
	<div class="wrapper">
		<div class="header-top">
			<p class="phone">+380 (044) 323 42 23 <span>+380 (044) 532 32 54</span></p>
			<p class="email">info@custom.ua</p>
			<p class="schedule"><strong>ПН - ПТ</strong>  10:00 - 18:00</p>
			<div class="language">
				<a href="#"><img src="../img/rus.png" alt="">Русский</a>
			</div>
		</div>
		<a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
		<nav class="header-menu">
			<ul>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Статистика</a></li>
				<li><a href="#">контакты</a></li>
			</ul>
		</nav>	
		<div class="tabs">
			<a href="#" class="tabs-item active">
				<div class="banner-img car"></div>
				<p><span>Таможенно – брокерские услуги</span></p>
			</a>
			<a href="#" class="tabs-item">
				<div class="banner-img list"></div>
				<p><span>Консультации по вопросам ВЭД</span></p>
			</a>
			<a href="#" class="tabs-item">
				<div class="banner-img globe"></div>
				<p><span>Экспедиции земля - воздух</span></p>
			</a>
			<a href="#" class="tabs-item">
				<div class="banner-img loader"></div>
				<p><span>Услуги ТЛC в частности складские</span></p>	
			</a>
			<a href="#" class="tabs-item">
				<div class="banner-img mathematical-signs"></div>
				<p><span>Аутсорсинг бухучета</span></p>
			</a>
			<a href="#" class="tabs-item">
				<div class="banner-img lawyer-consulting"></div>
				<p><span>Юридические консультации</span></p>
			</a>
		</div>
	</div>
</header>