.company-services
	padding: 70px 00px
	+pie-clearfix
	background: #fdfdfd
	.company-services-container
		width: 580px
		float: left
		h3
			color: #444444
			display: block
			font-weight: 700
			font-size: 40px
			line-height: 44px
			text-transform: uppercase
		&>h4
			text-transform: uppercase
			font-size: 27px
			line-height: 30px
			display: block
			color: #444444
			margin: 20px 0 30px
		form 
			input
				width: 100%
				background: #f3f3f3
				border: none
				+border-radius(4px)
				padding: 15px 13px
				outline: none
				margin-bottom: 20px
				font-size: 18px
				line-height: 20px
				+box-sizing(border-box)
				+appearance(none)
				+placeholder
					color: #393939
					+opacity(0.75)
					+box-sizing(border-box)
			input[type="submit"]
				text-transform: uppercase
				width: 280px
				float: right 
				background: linear-gradient (to top, #efca11 #f7e421)
				+box-shadow(0px 3px 0px 0px rgba(#ddba06,1))
				padding: 15px 13px 12px
				color: #3c3c3c
				+opacity(0.9)
				font-weight: 700
				margin-top: 28px
				cursor: pointer
				+transition(0.2s)
				&:hover
					background: linear-gradient (to top, #877b42 #e4d37e)
			.company-services-container-select				
				position: relative
				display: block
				background: #f3f3f3
				clear: both
				&:before
					content: ""
					display: block
					background: #f3f3f3
					+font-icon("arrow-down")
					position: absolute
					right: 0px
					top: 0px
					width: 32px
					line-height: 50px
					pointer-events: none 
			select 
				background: transparent
				width: 580px
				outline: none
				color: #393939
				+border-radius(4px)
				border: none
				font-size: 18px
				line-height: 20px
				padding: 15px 13px
				height: 50px
				&>option
					background: #f3f3f3
					padding: 10px 0
					margin: 1px 0px
			&>.company-services-container-input
				&:nth-child(2n)
					margin-right: 20px
					margin-left: 0 !important
			.company-services-container-input
				+pie-clearfix
				width: 280px
				float: left 
				&:nth-child(2n)
					margin-left: 20px
	.company-services-contact
		width: 580px
		float: right
		h4 
			color: #444444
			font-size: 30px
			line-height: 34px
			font-weight: 700
			text-transform: uppercase
		p 
			font-size: 18px
			line-height: 20px
			display: block
			color: #363f3f
			font-family: "open sans", sans-serif
			font-weight: 400
			margin-top: 40px
		.number
			font-weight: 600
			font-size: 20px
			color: #343434
			span
				margin-left: 15px
			&:before
				+font-icon("telephone")
				color: #7fd5a5
				font-size: 22px
				margin-right: 16px
		.adress
			&:before
				+font-icon("map-pin")
				color: #7fd5a5
				margin-right: 20px
		.email
			&:before
				+font-icon("mail")
				color: #7fd5a5
				vertical-align: middle
				margin-right: 20px
		.company-services-truck
			margin-top: 100px
.comp
	display: none
	h4
		color: #393939 		
		font-size: 22px
		line-height: 25px
		text-transform: initial
		margin-top: 31px
		margin-bottom: 50px
		padding-top: 38px
		border-top: 1px solid #eaeaea
	.car
		&:before 
			+font-icon("car")
			margin-right: 15px
			font-size: 80px
			vertical-align: middle
	.list 
		&:before 
			+font-icon("list")
			margin-right: 15px
			font-size: 45px
			vertical-align: middle
	.globe
		&:before 
			+font-icon("globe")
			margin-right: 15px
			font-size: 80px
			vertical-align: middle
	.loader
		&:before 
			+font-icon("loader")
			margin-right: 15px
			font-size: 80px
			vertical-align: middle
	.mathematical-signs
		&:before 
			+font-icon("mathematical-signs")
			margin-right: 15px
			font-size: 80px
			vertical-align: middle
	.lawyer-consulting
		&:before 
			+font-icon("lawyer-consulting")
			margin-right: 15px
			font-size: 80px
			vertical-align: middle

.open
	display: block