.company-services
	padding: 70px 00px
	+pie-clearfix
	.company-services-container
		width: 580px
		float: left
		h3
			color: #444444
			display: block
			font-weight: 700
			font-size: 40px
			line-height: 44px
			text-transform: uppercase
		h4
			text-transform: uppercase
			font-size: 27px
			line-height: 30px
			display: block
			color: #444444
			margin: 20px 0 30px
	.company-services-contact
		width: 580px
		float: right
		h4 
			color: #444444
			font-size: 30px
			line-height: 34px
			font-weight: 700
			text-transform: uppercase
		p 
			font-size: 18px
			line-height: 20px
			display: block
			color: #363f3f
			font-family: "open sans", sans-serif
			font-weight: 400
			margin-top: 40px
		.number
			font-weight: 600
			font-size: 20px
			color: #343434
			span
				margin-left: 15px
			&:before
				+font-icon("telephone")
				color: #7fd5a5
				font-size: 22px
				margin-right: 16px
		.adress
			&:before
				+font-icon("map-pin")
				color: #7fd5a5
				margin-right: 20px
		.email
			&:before
				+font-icon("mail")
				color: #7fd5a5
				vertical-align: middle
				margin-right: 20px
		.company-services-truck
			margin-top: 100px