#footer
	font-size: 0
	line-height: 0
	background: #f8f8f8
	padding-top: 30px
	padding-bottom: 30px
	position: absolute
	bottom: 0
	left: 0
	right: 0
	+pie-clearfix
	.footer-img
	.footer-item
		width: 380/1180*100%
		margin-right: 20/1180*100%
		display: inline-block
		vertical-align: top
		+box-sizing(border-box)
		padding-left: 8px
		&:last-child
			margin-right: 0
		h4
			display: block
			font-weight: 600
			font-size: 18px
			line-height: 20px
			text-transform: uppercase
			margin-bottom: 32px
			letter-spacing: 0.4px

		ul
			+box-sizing(border-box)
			li 
				a 
					color: #727b7b
					font-size: 14px
					line-height: 16px
					display: block
					+transition(0.2s)
					margin-bottom: 14px
					letter-spacing: 0.3px
					&:before
						content: ""
						height: 8px
						+transition(0.2s)
						width: 8px
						background: #b0b6b6
						display: inline-block
						+border-radius(10px)
						margin-right: 12px
					&:hover
						color: #31a665
						&:before
							background: #9aceb1
		.copy
			font-size: 14px
			line-height: 20px
			color: #3c4741
			margin-top: 20px
		.development-support 
			color: #3c4741
			font-size: 14px
			line-height: 16px
			display: block
			+transition(0.2s)
			margin-bottom: 14px
			letter-spacing: 0.3px
			margin-top: 8px

			a 
				display: inline-block
				color: #31a665
				+transition(0.2s)
				&:hover
					color: #0a371e

		

